body {
    background-color: rgb(189, 176, 176);
    color: black;
}

.title {
    font-size: 3vw;
    background-color: rgb(46, 191, 174);
}

.text-area {
    display: block;
    margin: 2% auto;
    width: 90%;
    height: 40%;
}

#button-container {
    width: 90%;
    height: 20%;
    margin: 2% auto;
    display: flex;
    gap: 5%;
    padding: 0 5%;
}

button {
    width: 35%;
    height: 20%;
    border: 1px solid black;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}